{% extends "base.html" %}
{% load static %}

{% block content %}
 <div class="container mt-5 mb-5">
	<div class="row">
	{% include "includes/dashboard_slidebar.html" %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password</strong>
		</header>
		<div class="card-body">
			<div class="row">
                 <form action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}
                      {% comment %} <div class="input-group-register">
                        <label for="password">Password</label>
                        <input type="password" name="current_password" id="current_password"
                               class="form-control"
                               placeholder="Enter Password" required>
                      </div> {% endcomment %}
                      <!-- Input Password -->
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="password">Password</label>
            <input type="password" name="current_password" id="current_password"
                   class="form-control {% if form.current_password.errors %}is-invalid{% endif %}"
                   placeholder="Enter Password">
            {% for error in form.current_password.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
{% comment %} 
                      <div class="input-group-register">
                        <label for="new-password">New Password</label>
                        <input type="password" name="new_password" id="new_password"
                               class="form-control"
                               placeholder="Enter New Password" required>
                      </div> {% endcomment %}
                      <!-- Input Password -->
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="new-password">New Password</label>
            <input type="password" name="new_password" id="new_password"
                   class="form-control {% if form.new_password.errors %}is-invalid{% endif %}"
                   placeholder="Enter New Password">
            {% for error in form.new_password.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

                      {% comment %} <div class="input-group-register">
                        <label for="confirm-new-password">Confirm New Password</label>
                        <input type="password" name="confirm_new_password" id="confirm_new_password"
                               class="form-control"
                               placeholder="Enter Confirm New Password" required>
                      </div> {% endcomment %}
                      <!-- Input Password -->
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="confirm-new-password">Confirm New Password</label>
            <input type="password" name="confirm_new_password" id="confirm_new_password"
                   class="form-control {% if form.confirm_new_password.errors %}is-invalid{% endif %}"
                   placeholder="Enter Confirm New Password">
            {% for error in form.confirm_new_password.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

                      {% include "includes/alerts.html" %}
                      <div style="float:right">
                        <input type="submit" value="Change Password" class="btn btn-dark">
                      </div>
                 </form>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
{% endblock content %}
 
