{% extends "base.html" %}
{% load static %}

{% block content %}
 {% include 'includes/alerts.html' %}
 <div class="container mt-5 mb-5">
	<div class="row">
	{% include "includes/dashboard_slidebar.html" %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Đăng nhập với: </strong>
			<span>{{ user.full_name }}</span>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-6">
					<div class="card" style="text-align:center">
						<div class="card-body">
							<h5 class="cart-title">Tổng số đơn hàng</h5>
							<h4>{{ orders_count }}</h4>
							<a href="{% url 'my_orders' %}">Xem đơn hàng</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card"  style="text-align:center">
						<div class="card-body">
							{% if userprofile.user_profile_picture %}
							<img src="{{ userprofile.user_profile_picture.url }}" alt="Ảnh người dùng" width="50" height="50" style="border-radius:50%">
						    {% else %}
							<img src="" alt="Ảnh mặc định người dùng" width="50" height="50" style="border-radius:50%">
					     	{% endif %}
							
							<p class="mb-0">{{ user.email }}</p>
							<p class="mb-0">{{ user.phone_number }}</p>
						</div>
					</div>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
{% endblock content %}
 
