{% extends "index.html" %}
{% load static %}

{% block content %}
 <div class="container mt-5 mb-5">
	<div class="row">
	{% include "includes/dashboard_slidebar.html" %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Thông tin hồ sơ</strong>
		</header>
		<div class="card-body">
      <div class="text-center mb-4">
                {% if userprofile.user_profile_picture %}
							<img src="{{ userprofile.user_profile_picture.url }}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%">
						    {% else %}
                <img src="{% static 'images/anh-dai-dien-mac-dinh.jpg' %}" alt="" width="50" height="50" style="border-radius:50%">
					     	{% endif %}
      </div>
      <hr>
			<div class="row">
                 <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                        <div class="input-group-register">
                          <label for="first-name">Tên đầu</label>
                          <input type="text" name="first_name" id="first-name"
                                 class="form-control {% if user_form.first_name.errors %}is-invalid{% endif %}"
                                 value="{{ user_form.first_name.value|default_if_none:'' }}"
                                 placeholder="{{ user_form.first_name.field.widget.attrs.placeholder }}">
                                 {% if user_form.first_name.errors %}
                               <div class="error-text">{{ user_form.first_name.errors }}</div>
                             {% endif %}
                        </div>
              
                        <div class="input-group-register">
                          <label for="last-name">Tên cuối</label>
                          <input type="text" name="last_name" id="last-name"
                                 class="form-control {% if user_form.last_name.errors %}is-invalid{% endif %}"
                                 value="{{ user_form.last_name.value|default_if_none:'' }}"
                                 placeholder="{{ user_form.last_name.field.widget.attrs.placeholder }}">
                                 {% if user_form.last_name.errors %}
                               <div class="error-text">{{ user_form.last_name.errors }}</div>
                             {% endif %}
                        </div>
              
                      <div class="input-group-register">
                        <label for="email">Thư điện tử</label>
                        <input type="email" name="email" id="email"
                               class="form-control {% if user_form.email.errors %}is-invalid{% endif %}"
                               value="{{ user_form.email.value|default_if_none:'' }}"
                               placeholder="{{ user_form.email.field.widget.attrs.placeholder }}">
                               {% if user_form.email.errors %}
                               <div class="error-text">{{ user_form.email.errors }}</div>
                             {% endif %}
                      </div>
              
                      <div class="input-group-register">
                        <label for="phone_number">Số điện thoại</label>
                        <small class="text-muted">Ví dụ:Mã số đất nước(+84) Số điện thoại đất nước đó(0326******)</small>
                        <input type="text" name="phone_number" id="phone_number"
                               class="form-control {% if user_form.phone_number.errors %}is-invalid{% endif %}"
                               value="{{ user_form.phone_number.value|default_if_none:'' }}"
                               placeholder="{{ user_form.phone_number.field.widget.attrs.placeholder }}">
                               {% if user_form.phone_number.errors %}
                               <div class="error-text">{{ user_form.phone_number.errors }}</div>
                             {% endif %}
                      </div> 


                      <div class="input-group-register">
                        <label for="birth-day">Ngày sinh</label>
                        <input 
                            type="date" 
                            id="birth-day" 
                            name="user_profile_date_of_birth" 
                            value="{{ profile_form.instance.user_profile_date_of_birth|date:'Y-m-d' }}" 
                            class="form-control {% if profile_form.user_profile_date_of_birth.errors %}is-invalid{% endif %}" />
                    
                        {% if profile_form.user_profile_date_of_birth.errors %}
                          <div class="error-text">{{ profile_form.user_profile_date_of_birth.errors }}</div>
                        {% endif %}
                    </div>
                                     
                      
                      <div class="input-group-register">
                        <label for="profile-picture">Ảnh hồ sơ</label>
                        <input type="file" name="user_profile_picture" id="profile-picture"
                               class="form-control {% if profile_form.user_profile_picture.errors %}is-invalid{% endif %}"
                               value="{{ profile_form.user_profile_picture.value|default_if_none:'' }}"
                               placeholder="{{ profile_form.user_profile_picture.field.widget.attrs.placeholder }}">
                               {% if profile_form.user_profile_picture.errors %}
                          <div class="error-text">{{ profile_form.user_profile_picture.errors }}</div>
                        {% endif %}
                      </div>
<!-- Country -->
<div class="input-group-register">
    <label for="country">Đất nước</label>
    <select class="form-select mb-3 {% if profile_form.user_profile_country.errors %}is-invalid{% endif %}" id="user_profile_country" name="user_profile_country">
        <option value="" disabled>Chọn đất nước</option>
        {% for country_code, country_name in profile_form.user_profile_country.field.choices %}
            <option value="{{ country_code }}" {% if country_code == profile_form.user_profile_country.value %}selected{% endif %}>
                {{ country_name }}
            </option>
        {% endfor %}
    </select>
    {% if profile_form.user_profile_country.errors %}
                          <div class="error-text">{{ profile_form.user_profile_country.errors }}</div>
                        {% endif %}
</div>

<!-- City -->
<div class="input-group-register">
    <label for="city">Thành phố</label>
    <select class="form-select mb-3 {% if profile_form.user_profile_city.errors %}is-invalid{% endif %}" id="user_profile_city" name="user_profile_city">
        <option value="">Chọn thành phố</option>
    </select>
    {% if profile_form.user_profile_city.errors %}
                          <div class="error-text">{{ profile_form.user_profile_city.errors }}</div>
                        {% endif %}
</div>

<!-- Village -->
<div class="input-group-register">
    <label for="village">Huyện</label>
    <select class="form-select mb-3 {% if profile_form.user_profile_village.errors %}is-invalid{% endif %}" id="user_profile_village" name="user_profile_village">
        <option value="">Chọn huyện</option>
    </select>
    {% if profile_form.user_profile_village.errors %}
                          <div class="error-text">{{ profile_form.user_profile_village.errors }}</div>
                        {% endif %}
</div>
              
                      <div class="input-group-register">
                        <label for="address">Địa chỉ</label>
                        <input type="text" name="user_profile_address" id="address"
                               class="form-control {% if profile_form.user_profile_address.errors %}is-invalid{% endif %}"
                               value="{{ profile_form.user_profile_address.value|default_if_none:'' }}"
                               placeholder="Nhập địa chỉ">
                               {% if profile_form.user_profile_address.errors %}
                          <div class="error-text">{{ profile_form.user_profile_address.errors }}</div>
                        {% endif %}
                      </div>
                      {% include "includes/alerts.html" %}
                      <div style="float:right">
                        <input type="submit" value="Lưu" class="btn btn-dark">
                      </div>
                 </form>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
{% endblock content %}
 
