{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="box-login">
    <div class="form-container-login">
      <h2 class="text-center mb-4">Quên mật khẩu</h2>
      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
        
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="email">Thư điện tử</label>
            <input type="text" name="email" id="email"
                   class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                   value="{{ form.email.value|default_if_none:'' }}"
                   placeholder="Nhập thư điện tử">
            <!-- Hiển thị lỗi -->
            {% if form.email.errors %}
              <div class="error-text">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        {% include "includes/alerts.html" %}
        <div style="float: right">
          <p>Có mật khẩu? <a href="{% url 'login' %}">Đăng nhập</a></p>
        </div>
        <br>
        <br>
        <div style="float: right">
          <button class="btn btn-dark" type="submit">Nộp</button>
        </div>

        <br /><br />
        <hr />
        <div>
          <p class="text-center">
           Chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a>
          </p>
        </div>
    </div>
      </form>
  </div>
</div>

{% endblock content %}
