{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="box-login">
    <div class="form-container-login">
      <h2 class="text-center mb-4">Cập nhật mật khẩu</h2>
      <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}

        <!-- Input Password -->
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="password">Mật khẩu mới</label>
            <input type="password" name="password" id="password"
                   class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                   placeholder="Nhập mật khẩu mới">
            {% for error in form.password.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <!-- Input Confirm Password -->
        <div class="input-row-login">
          <div class="input-group-login">
            <label for="confirm_password">Nhập lại mật khẩu mới</label>
            <input type="password" name="confirm_password" id="confirm_password"
                   class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}"
                   placeholder="Nhập lại mật khẩu mới">
            {% for error in form.confirm_password.errors %}
              <div class="error-text">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div style="float: right">
          <button class="btn btn-dark" type="submit">Cập nhật</button>
        </div>

        <br><br>
        <hr>
        <div>
          <p class="text-center">
            Không có tài khoản? <a href="{% url 'register' %}">Đăng ký</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
