<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'my_orders' %}"> My Orders </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> Edit Profile </a>
        <a class="list-group-item" href="#"> Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block w-100" style="border:1px solid gray" href="{% url 'logout' %}"> <i class="bi bi-power text-dark fs-5"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>