{% load static %}

<footer>
    <div class="container mt-4">
      <hr />
      <div class="footer-container">
        <div class="footer-list">
          <h4>Tài nguyên</h4>
          <ul>
            <li><a href="#">Tìm cửa hàng</a></li>
            <li><a href="#">Trở thành thành viên</a></li>
            <li><a href="#">Gửi phản hồi cho chúng tôi</a></li>
            <li><a href="#">Gửi phản hồi cho chúng tôi</a></li>
            <!-- Thêm các danh sách khác -->
          </ul>
        </div>
        <div class="footer-list">
          <h4>Trợ giúp</h4>
          <ul>
            <li><a href="#">Nhận trợ giúp</a></li>
            <li><a href="#">Trạng thái đơn hàng</a></li>
            <li><a href="#">Giao hàng</a></li>
            <li><a href="#">Trả về</a></li>
            <li><a href="#">Tùy chọn thanh toán</a></li>
            <li><a href="#">Liên hệ với chúng tôi</a></li>
  
            <!-- Thêm các danh sách khác -->
          </ul>
        </div>
        <div class="footer-list">
          <h4>Giới thiệu về Nike</h4>
          <ul>
            <li><a href="#">Giới thiệu về Nike</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Sự nghiệp</a></li>
            <li><a href="#">Nhà đầu tư</a></li>
            <li><a href="#">Tính bền vững</a></li>
            <!-- Thêm các danh sách khác -->
          </ul>
        </div>
        <div class="footer-vietnam">
          <h4><i class="bi bi-globe-americas"></i> Vietnam</h4>
        </div>
      </div>
      <div class="container">
        <div class="folder d-flex fw-bold">
          <p class="me-4 mb-0">© 2024 Nike, Inc. Mọi quyền được bảo lưu</p>
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Hướng dẫn</a
          >
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Điều kiện bán hàng</a
          >
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Điều khoản sử dụng</a
          >
          <a class="text-dark me-4" style="text-decoration: none" href="#"
            >Chính sách quyền riêng tư của Nike</a
          >
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
  </footer>
  