{% load static %}
{% comment %} header login {% endcomment %}
<div class="container-fluid" style="background-color: #f5f5f5">
    <div class="headerlogin">
      <!-- Logo -->
      <div class="logo_img">
        <img src="{% static 'images/jordanlogo.png' %}" alt="Logo" />
      </div>
      <!-- Links -->
      <div class="login_infor text-dark">
        <a href="{% url 'store' %}">Tìm cửa hàng</a>
        <div class="help-container">
          <a href="#" class="help-link">Hỗ trợ</a>
          <div class="help-hover-box">
            <p class="text-dark fs-5 mb-0">Hỗ trợ</p>
            <ul>
              <li><a href="#">Trạng thái đơn hàng</a></li>
              <li><a href="#">Gửi và giao hàng</a></li>
              <li><a href="#">Trả về</a></li>
              <li><a href="#">Liên hệ với chúng tôi</a></li>
              <li><a href="#">Chính sách quyền riêng tư</a></li>
              <li><a href="#">Điều khoản bán hàng</a></li>
              <li><a href="#">Điều khoản sử dụng</a></li>
              <li><a href="#">Gửi phản hồi cho chúng tôi</a></li>
            </ul>
          </div>
        </div>
        {% if user.id is not None %}
        <a href="{% url 'dashboard' %}">Thông tin tài khoản</a>
        <a href="#">Chào mừng {{ user.last_name }}</a>
        <a href="{% url 'logout' %}">Đăng xuất</a>
        {% else %}
        <a href="{% url 'register' %}">Đăng ký</a>
        <a href="{% url 'login' %}">Đăng nhập</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% comment %} header login {% endcomment %}