{% load static %}
{% comment %} slide for header {% endcomment %}
<div
id="carouselExampleControlsNoTouching"
class="carousel slide"
data-bs-touch="false"
data-bs-ride="carousel"
data-bs-interval="3000"
>
<div class="carousel-inner p-3" style="text-align: center">
  <div class="carousel-item active">
    <h5>Đang giảm giá các kiểu mới: Giảm giá tới 40%</h5>
    <a href="#" class="text-dark">Mua tất cả các khoản giảm giá mới của chúng tôi</a>
  </div>
  <div class="carousel-item">
    <h5>Di chuyển, mua sắm, tùy chỉnh và tính toán với chúng tôi</h5>
    <a>Cho dù hôm nay bạn muốn làm gì đi chăng nữa. Sẽ tốt hơn nếu là Thành viên</a>
  </div>
  <div class="carousel-item">
    <h5>Giao hàng tiêu chuẩn miễn phí và trả lại miễn phí trong 30 ngày</h5>
    <a href="#" class="text-dark">Tham gia ngay</a>
    <a href="#" class="text-dark"> Xem chi tiết</a>
  </div>
</div>
</div>
  {% comment %} slide for header {% endcomment %}