{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container product-detail">
    <div class="row" style="justify-content: center;">
        <!-- Phần 1: Ảnh sản phẩm -->
        <div class="col-lg-2 col-12 product-info-container-img">
            <div class="product-info-scroll">
                {% for i in product_gallery %}
                    <a href="{{ i.image_gallery.url }}">
                        <img class="mb-2 gallery-image" height="auto" width="100%" src="{{ i.image_gallery.url }}" data-large-image="{{ i.image_gallery.url }}">
                    </a>
                {% endfor %}
            </div>
        </div>
        
        <div class="col-lg-5 col-12 product-images">
            <img id="mainImage" src="{{ single_product.product_images.url }}" alt="" class="img-fluid main-image">
        </div>

        <!-- Phần 2: Thông tin sản phẩm -->
        <div class="col-lg-5 col-12 product-info-container">
                <form action="{% url 'add_cart' single_product.id %}" method="POST">
                    {% csrf_token %}
                        <h2 class="product-name">{{ single_product.product_name }}</h2>
                        <div class="rating-star">
                            <span>
                            <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <span class="text-dark">{{ single_product.countReview }} reviews</span>
                            </span>
                        </div>
                        
                        <p><strong>Price:</strong> ${{ single_product.product_price }}</p>
                        <div class="item-color-select mb-4">
                            <select name="color" class="form-select" required>
                                <option value="" disabled selected>Chosse Color</option>
                                {% for i in single_product.variation_set.colors %}
                                <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="item-color-select mb-4" >
                            <select name="size" class="form-select" required>
                                <option value="" disabled selected>Chosse Size</option>
                                {% for i in single_product.variation_set.sizes %}
                                <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p><strong>Description:</strong> {{ single_product.product_description }}</p>
                        <p><strong>Made In:</strong> {{ single_product.product_made_in }}</p>
                    <div class="product-actions mb-4">
                        {% if single_product.product_stock <= 0 %}
                        <h5 class="btn btn-danger">Out of stock</h5>
                        {% else %}
                        <button type="submit" class="btn btn-dark btn-add-to-bag w-100">Add to Bag</button>
                        {% endif %}
                    </div>
                </form>
                <div class="box-review-rating">
                    {% if user.is_authenticated %}
                        {% if orderproduct %}
                    <form action="{% url 'submit_review' single_product.id %}" method="POST">
                        {% csrf_token %}
                        <h5>Write Your Review</h5>
                        <div>
                            <label>How do you rate this products?</label>
                            <br>
                            <div class="rate">
                                <input type="radio" name="review_rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                                <input type="radio" name="review_rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                                <input type="radio" name="review_rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                                <input type="radio" name="review_rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                                <input type="radio" name="review_rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                                <input type="radio" name="review_rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                                <input type="radio" name="review_rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                                <input type="radio" name="review_rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                                <input type="radio" name="review_rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                                <input type="radio" name="review_rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                            </div>
                        </div>
                        <span class="text-dark">{{ single_product.countReview }} reviews</span>
                        <div>
                            Review Title:
                            <input class="form-control-review" type="text" name="review_subject">
                            <br>
                            Review:
                            <textarea class="form-control" name="review" rows="4"></textarea>
                            <br>
                            
                                <input type="submit" class="btn btn-dark" value="Submit Review">
                        </div>
                    </form>
                       {% endif %}
                    {% endif %}
                    <br>
                    {% include "includes/alerts.html" %}
                    <br>
                    {% for review in reviews %}
                    <article class="box mb-3 p-2" style="border:1px solid gray; border-radius:10px">
                        <div class="icontext w-100">
                            {% comment %} <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle"> {% endcomment %}
                            <div class="text" style="align-item:center">
                                <span class="date text-muted" style="float:right">{{ review.review_updated_at }}</span>  
                                <h6 class="mb-1">{{ review.user.full_name }}</h6>
                                <div class="rating-star">
                                    <span>
                                    <i class="fa fa-star{% if review.review_rating == 0.5 %}-half-o{% elif review.review_rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.review_rating == 1.5 %}-half-o{% elif review.review_rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.review_rating == 2.5 %}-half-o{% elif review.review_rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.review_rating == 3.5 %}-half-o{% elif review.review_rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.review_rating == 4.5 %}-half-o{% elif review.review_rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div> <!-- icontext.// -->
                        <div class="mt-3">
                            <h6 class="fw-bold">{{ review.review_subject }}</h6>
                            <p>{{ review.review }}</p>	
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>


{% endblock content %}

