{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container">
    <form action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    <div class="container-cart">
        <div class="cart-products-checkout">
            <h2>Vận chuyển</h2>
            <div class="input-group-register">
                <label for="order-first-name">Tên đầu</label>
                <input type="text" name="order_first_name" id="order-first-name"
                       class="form-control {% if form.order_first_name.errors %}is-invalid{% endif %}"
                       value="{{ form.order_first_name.value|default_if_none:'' }}"
                       placeholder="{{ form.order_first_name.field.widget.attrs.placeholder }}">
                <!-- Hiển thị lỗi -->
                {% if form.order_first_name.errors %}
                  <div class="error-text">{{ form.order_first_name.errors }}</div>
                {% endif %}
            </div>
            <div class="input-group-register">
                <label for="order-last-name">Tên cuối</label>
                <input type="text" name="order_last_name" id="order-last-name"
                       class="form-control {% if form.order_last_name.errors %}is-invalid{% endif %}"
                       value="{{ form.order_last_name.value|default_if_none:'' }}"
                       placeholder="{{ form.order_last_name.field.widget.attrs.placeholder }}">
                <!-- Hiển thị lỗi -->
                {% if form.order_last_name.errors %}
                  <div class="error-text">{{ form.order_last_name.errors }}</div>
                {% endif %}
              </div>
    
            <div class="input-group-register">
              <label for="order-email">Thư điện tử</label>
              <input type="email" name="order_email" id="order-email"
                     class="form-control {% if form.order_email.errors %}is-invalid{% endif %}"
                     value="{{ form.order_email.value|default_if_none:'' }}"
                     placeholder="{{ form.order_email.field.widget.attrs.placeholder }}">
              <!-- Hiển thị lỗi -->
              {% if form.order_email.errors %}
                <div class="error-text">{{ form.order_email.errors }}</div>
              {% endif %}
            </div>
    
            <div class="input-group-register">
              <label for="order-phone">Số điện thoại</label>
              <small class="text-secondary">Ví dụ: Mã đất nước(+84) Số điện thoại đất nước(0326******)</small>
              <input type="text" name="order_phone" id="order-phone"
                     class="form-control {% if form.order_phone.errors %}is-invalid{% endif %}"
                     value="{{ form.order_phone.value|default_if_none:'' }}"
                     placeholder="{{ form.order_phone.field.widget.attrs.placeholder }}">
              <!-- Hiển thị lỗi -->
              {% if form.order_phone.errors %}
                <div class="error-text">{{ form.order_phone.errors }}</div>
              {% endif %}
            </div>

            <!-- Country -->
        <div class="input-group-register">
        <label for="order-country">Đất nước</label>
        <select class="form-select mb-3 {% if form.order_country.errors %}is-invalid{% endif %}" id="order-country" name="order_country">
          <option value="">Chọn đất nước</option>
          {% for country_code, country_name in form.order_country.field.choices %}
          <option value="{{ country_code }}">{{ country_name }}</option>
          {% endfor %}
        </select>
        <!-- Hiển thị lỗi -->
        {% if form.order_country.errors %}
          <div class="error-text">{{ form.order_country.errors }}</div>
        {% endif %}
        </div>

        <!-- City -->
        <div class="input-group-register">
        <label for="order-city">Thành phố</label>
        <select class="form-select mb-3 {% if form.order_city.errors %}is-invalid{% endif %}" id="order-city" name="order_city" disabled>
          <option value="">Chọn thành phố</option>
        </select>
        <!-- Hiển thị lỗi -->
        {% if form.order_city.errors %}
          <div class="error-text">{{ form.order_city.errors }}</div>
        {% endif %}
        </div>

        <!-- Village -->
        <div class="input-group-register">
        <label for="order-village">Huyện</label>
        <select class="form-select mb-3 {% if form.order_village.errors %}is-invalid{% endif %}" id="order-village" name="order_village" disabled>
          <option value="">Chọn huyện</option>
        </select>
        <!-- Hiển thị lỗi -->
        {% if form.order_village.errors %}
          <div class="error-text">{{ form.order_village.errors }}</div>
        {% endif %}
        </div>

        <div class="input-group-register">
          <label for="order-address">Địa chỉ</label>
          <input type="text" name="order_address" id="order-address"
                 class="form-control {% if form.order_address.errors %}is-invalid{% endif %}"
                 value="{{ form.order_address.value|default_if_none:'' }}"
                 placeholder="{{ form.order_address.field.widget.attrs.placeholder }}">
          <!-- Hiển thị lỗi -->
          {% if form.order_address.errors %}
            <div class="error-text">{{ form.order_address.errors }}</div>
          {% endif %}
        </div>

        <div class="input-group-register">
            <label for="order-note">Ghi chú đơn hàng</label>
            <textarea class="form-control {% if form.order_note.errors %}is-invalid{% endif %}" 
                      name="order_note" id="order-note" row="2"
                      value="{{ form.order_note.value|default_if_none:'' }}"></textarea>
            <!-- Hiển thị lỗi -->
            {% if form.order_address.errors %}
              <div class="error-text">{{ form.order_address.errors }}</div>
            {% endif %}
          </div>
        </div>

        <div class="cart-summary-checkout">
            <h2>Tóm tắt đơn hàng</h2>
            {% for cart_item in cart_items %}
            <div class="cart-item">
                <img src="{{ cart_item.product.product_images.url }}" alt="Product 1" class="cart-image">
                <div class="cart-details">
                    <h3 class="cart-name"><a class="text-dark" style="text-decoration:none" href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a></h3>
                    <p class="mt-2">Số lượng: {{ cart_item.cart_item_quantity }}</p>
                    <p class="text-muted small">
                      {% for item in cart_item.variations.all %}
                      {% if item.variation_category == "color" %}
                          Màu sắc: {{ item.variation_color | capfirst }}<br>
                      {% endif %}
                      {% if item.variation_value == "size" %}
                          Kích cỡ: {{ item.variation_size | capfirst }}<br>
                      {% endif %}
                      {% endfor %}
                    </p>
                </div>
                <div class="box-price-cart">
                  {% if cart_item.product.discount_code > 0 and cart_item.product.discounted_price is not None %}
                  <p class="formattedPrice" class="cart-price mb-0">{{ cart_item.sub_total }} VND</p>
                  <small class="formattedPrice text-muted">{{ cart_item.product.discounted_price }} VND</small>
              {% else %}
              <p class="formattedPrice" class="cart-price mb-0">{{ cart_item.sub_total }} VND</p>
              <small class="formattedPrice text-muted">{{ cart_item.product.product_price }} VND</small>
              {% endif %}
                </div>
            </div>
            {% endfor %}
            <button type="submit" name="submit" class="btn btn-dark w-100 mt-2">Đặt hàng</button>
        </div>
    </div>
    </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Lấy tất cả các phần tử có class 'formattedPrice'
      var priceElements = document.querySelectorAll('.formattedPrice');
    
      // Duyệt qua tất cả các phần tử và thay đổi giá trị
      priceElements.forEach(function(priceElement) {
        var priceValue = parseFloat(priceElement.innerText.replace(' VND', '').replace(',', '')); // Xóa dấu `,` cũ nếu có
        priceElement.innerText = priceValue.toLocaleString('en-US').replace(/\./g, ',') + ' VND';  // Đổi `.` thành `,`
      });
    });
</script>

{% endblock content %}