{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <form action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    <div class="container-cart">
        <div class="cart-products-checkout">
            <h2>Delivery</h2>
            <div class="input-group-register">
                <label for="order-first-name">First Name</label>
                <input type="text" name="order_first_name" id="order-first-name"
                       class="form-control {% if form.order_first_name.errors %}is-invalid{% endif %}"
                       value="{{ form.order_first_name.value|default_if_none:'' }}"
                       placeholder="{{ form.order_first_name.field.widget.attrs.placeholder }}">
                <!-- Hiển thị lỗi -->
                {% if form.order_first_name.errors %}
                  <div class="error-text">{{ form.order_first_name.errors }}</div>
                {% endif %}
            </div>
            <div class="input-group-register">
                <label for="order-last-name">Last Name</label>
                <input type="text" name="order_last_name" id="order-last-name"
                       class="form-control {% if form.order_last_name.errors %}is-invalid{% endif %}"
                       value="{{ form.order_last_name.value|default_if_none:'' }}"
                       placeholder="{{ form.order_last_name.field.widget.attrs.placeholder }}">
                <!-- Hiển thị lỗi -->
                {% if form.order_last_name.errors %}
                  <div class="error-text">{{ form.order_last_name.errors }}</div>
                {% endif %}
              </div>
    
            <div class="input-group-register">
              <label for="order-email">Email</label>
              <input type="email" name="order_email" id="order-email"
                     class="form-control {% if form.order_email.errors %}is-invalid{% endif %}"
                     value="{{ form.order_email.value|default_if_none:'' }}"
                     placeholder="{{ form.order_email.field.widget.attrs.placeholder }}">
              <!-- Hiển thị lỗi -->
              {% if form.order_email.errors %}
                <div class="error-text">{{ form.order_email.errors }}</div>
              {% endif %}
            </div>
    
            <div class="input-group-register">
              <label for="order-phone">Phone Number</label>
              <input type="text" name="order_phone" id="order-phone"
                     class="form-control {% if form.order_phone.errors %}is-invalid{% endif %}"
                     value="{{ form.order_phone.value|default_if_none:'' }}"
                     placeholder="{{ form.order_phone.field.widget.attrs.placeholder }}">
              <!-- Hiển thị lỗi -->
              {% if form.order_phone.errors %}
                <div class="error-text">{{ form.order_phone.errors }}</div>
              {% endif %}
            </div>

            <!-- Country -->
        <div class="input-group-register">
        <label for="order-country">Country</label>
        <select class="form-select mb-3 {% if form.order_country.errors %}is-invalid{% endif %}" id="order-country" name="order_country">
          <option value="">Select Country</option>
          {% for country_code, country_name in form.order_country.field.choices %}
          <option value="{{ country_code }}">{{ country_name }}</option>
          {% endfor %}
        </select>
        <!-- Hiển thị lỗi -->
        {% if form.order_country.errors %}
          <div class="error-text">{{ form.order_country.errors }}</div>
        {% endif %}
        </div>

        <!-- City -->
        <div class="input-group-register">
        <label for="order-city">City</label>
        <select class="form-select mb-3 {% if form.order_city.errors %}is-invalid{% endif %}" id="order-city" name="order_city" disabled>
          <option value="">Select City</option>
        </select>
        <!-- Hiển thị lỗi -->
        {% if form.order_city.errors %}
          <div class="error-text">{{ form.order_city.errors }}</div>
        {% endif %}
        </div>

        <!-- Village -->
        <div class="input-group-register">
        <label for="order-village">Village</label>
        <select class="form-select mb-3 {% if form.order_village.errors %}is-invalid{% endif %}" id="order-village" name="order_village" disabled>
          <option value="">Select Village</option>
        </select>
        <!-- Hiển thị lỗi -->
        {% if form.order_village.errors %}
          <div class="error-text">{{ form.order_village.errors }}</div>
        {% endif %}
        </div>

        <div class="input-group-register">
          <label for="order-address">Address</label>
          <input type="text" name="order_address" id="order-address"
                 class="form-control {% if form.order_address.errors %}is-invalid{% endif %}"
                 value="{{ form.order_address.value|default_if_none:'' }}"
                 placeholder="{{ form.order_address.field.widget.attrs.placeholder }}">
          <!-- Hiển thị lỗi -->
          {% if form.order_address.errors %}
            <div class="error-text">{{ form.order_address.errors }}</div>
          {% endif %}
        </div>

        <div class="input-group-register">
            <label for="order-note">Order Note</label>
            <textarea class="form-control {% if form.order_note.errors %}is-invalid{% endif %}" 
                      name="order_note" id="order-note" row="2"
                      value="{{ form.order_note.value|default_if_none:'' }}"></textarea>
            <!-- Hiển thị lỗi -->
            {% if form.order_address.errors %}
              <div class="error-text">{{ form.order_address.errors }}</div>
            {% endif %}
          </div>
        </div>

        <div class="cart-summary-checkout">
            <h2>Order summary</h2>
            {% for cart_item in cart_items %}
            <div class="cart-item">
                <img src="{{ cart_item.product.product_images.url }}" alt="Product 1" class="cart-image">
                <div class="cart-details">
                    <h3 class="cart-name"><a class="text-dark" style="text-decoration:none" href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a></h3>
                    <p class="mt-2">Quantity: {{ cart_item.cart_item_quantity }}</p>
                    <p class="text-muted small">
                        {% if cart_item.variations.all %}
                           {% for item in cart_item.variations.all %}
                              {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                           {% endfor %}
                        {% endif %}
                    </p>
                </div>
                <div class="box-price-cart">
                    <p class="cart-price mb-0">$ {{ cart_item.sub_total }}</p>
                    <small class="text-muted">$ {{cart_item.product.product_price}}</small>
                </div>
            </div>
            {% endfor %}
            <button type="submit" name="submit" class="checkout-button">Place Order</button>
        </div>
    </div>
    </form>
</div>

{% endblock content %}